/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
:root {
    --color-white: white;
    --color-text: #a3a3a3;
    --color-black: #000000;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Merriweather+Sans:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Merriweather Sans', sans-serif;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-grow: 1;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 200px;
    padding: .5rem;
    background-color: var(--color-black);
}

.logo {
    max-width: 130px;
    padding: .625rem 0;
}

.icons-box {
    display: flex;
    align-items: center;
    padding-bottom: .375rem;
}

.icons {
    max-width: 20px;
}

.icons img {
    width: 100%;
}

.icone-sidebar a {
    display: inline-block;
    color: var(--color-white);
    text-decoration: none;
    padding-left: .5rem;
}

.playlist-container {
    flex-grow: 1;
    color: var(--color-white);
}

.add-playlist {
    padding-top: 1.25rem;
}

.add-list {
    padding: .625rem 0;
    display: flex;
    align-items: center;
    gap: .625rem;
    color: var(--color-text);
}

.add-list::before {
    content: "+";
    height: 40px;
    width: 40px;
    background-color: var(--color-text);
    color: var(--color-black);
    display: block;
    text-align: center;
    font-size: 2.0625rem;
    font-weight: 600;
}

.list-playlist {
    padding: 1.25rem 0;
    color: var(--color-text);
}

.list-playlist ul li {
    padding-bottom: .9375rem;
}

.install-app {
    padding: .5rem 0;
    color: var(--color-text);
}

.account {
    padding: .5rem 0;
}

.install-app,
.account {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.install-app img,
.account img {
    max-width: 20px;
}

.install-app span {
    font-size: .875rem;
}

.account img {
    clip-path: circle();
    background-color: var(--color-text);
}

.account span {
    color: var(--color-white);
}
/* Main-Content */
.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-top {
    flex-shrink: 0;
    text-align: right;
    background-color: #080b12;
    padding: 1.25rem .5rem;
}

.btn {
    padding: .625rem 1.5625rem;
    border-radius: 25px;
    background: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-white);
    cursor: pointer;
}

.main-center {
    flex-grow: 1;
}

/* Play-bar */
.play-bar {
    flex-shrink: 0;
}

.box-container {
    display: flex;
    justify-content: space-between;
    /*debug */
    background: aqua;
}
