/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
:root {
    --color-white: white;
    --color-text: #5d6066;
    --color-black: #000000;
    --color-line: #adff2f;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Merriweather+Sans:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Merriweather Sans', sans-serif;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 200px;
    padding: 1rem;
    background-color: var(--color-black);
}

.p-relative {
    position: relative;
}

.icons.before::before {
    content: "";
    display: block;
    border-left: .1875rem solid var(--color-line);
    position: absolute;
    left: -0.9375rem;
    height: 30px;
    bottom: .1875rem;
}

.logo {
    max-width: 130px;
    padding: .625rem 0;
}

.icone-sidebar {
    padding-top: 1.25rem;
}

.icons-box {
    display: flex;
    align-items: center;
    padding-bottom: .375rem;
}

.icons {
    max-width: 20px;
}

.icons img {
    width: 100%;
    opacity: 0.6;
}

.icone-sidebar a {
    display: inline-block;
    color: var(--color-text);
    text-decoration: none;
    padding-left: .5rem;
}

.playlist-container {
    flex-grow: 1;
    color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.add-playlist {
    padding-top: 1.25rem;
}

.add-list {
    padding: .625rem 0;
    display: flex;
    align-items: center;
    gap: .625rem;
    color: var(--color-text);
}

.add-list::before {
    content: "+";
    height: 40px;
    width: 40px;
    background-color: var(--color-text);
    color: var(--color-black);
    display: block;
    text-align: center;
    font-size: 2.0625rem;
    font-weight: 600;
}

.list-playlist {
    padding: 1.25rem 0;
    color: var(--color-text);
    overflow: auto;
}

.list-playlist ul li {
    padding-bottom: .9375rem;
    list-style: none;
}

.install-app {
    padding: .5rem 0;
    color: var(--color-text);
}

.install-app img {
    opacity: 0.6;
}

.account {
    padding: .5rem 0;
}

.install-app,
.account {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.install-app img,
.account img {
    max-width: 20px;
}

.install-app span {
    font-size: .875rem;
}

.account img {
    clip-path: circle();
    background-color: var(--color-text);
}

.account span {
    color: var(--color-white);
}
/* Main-Content */
.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #141922;
}

.main-top {
    flex-shrink: 0;
    text-align: right;
    background-color: #080b12;
    padding: 1.25rem .5rem;
}

.btn {
    padding: .625rem 1.5625rem;
    border-radius: 25px;
    background: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-white);
    cursor: pointer;
    transition: 0.3s;
}

.main-center {
    flex-grow: 1;
    overflow-y: scroll
}

.list-main-center {
    padding: 1.875rem 0;
}

.list-main-center ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.list-main-center ul li {
    list-style: none;
    padding-right: 2.8125rem;
}

.list-main-center ul li:last-child {
    padding-right: 0;
}

.list-main-center ul li a {
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    font-size: .9375rem;
    color: var(--color-text);
}

.albums-container {
    padding-left: 1.25rem;
}

.albums-container h2 {
    color: var(--color-white);
    font-size: 1.875rem;
    font-weight: 700;
}

.albums-container .row {
    display: flex;
    flex-wrap: wrap;
    /* flex-grow: 1; */
    gap: 1.5625rem;
    padding: 2.1875rem 0;
}

.album {
    max-width: 200px;
}

.album-img img {
    width: 100%;
}

.album-title {
    text-align: center;
    color: var(--color-white);
    padding-top: .8125rem;
    font-weight: 700;
}

.popular-artists .album-img {
    border-radius: 50%;
    overflow: hidden;
}

.albums-container p {
    color: var(--color-text);
    padding-top: .375rem;
    font-size: .8125rem;
}
/* Play-bar */
.play-bar {
    flex-shrink: 0;
    padding: .625rem;
    background-color: #282828;
    color: var(--color-white);
}

.box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-large {
    flex-basis: 100%;
    max-width: 600px;
    flex-grow: 1;
}

.box-song {
    display: flex;
    align-items: center;
    gap: .9375rem;
}

.img-song {
    max-width: 60px;
}

.img-song img {
    width: 100%;
}

.name-song {
    font-size: .75rem;
    font-weight: 700;
}

.name-song a {
    text-decoration: none;
    color: var(--color-text);
}

.favorites {
    padding-left: 1.875rem;
}

.favorites i {
    padding-right: .9375rem;
    color: var(--color-text);
}

.icone-bar {
    text-align: center;
    font-size: 1.25rem;
}

.icone-bar i {
    padding-right: 1.5625rem;
    cursor: pointer;
}

.icone-bar i:nth-child(3) {
    font-size: 30px;
    transition: 0.3s;
}

.box:last-child {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    max-width: 200px;
}

.time-line {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: .8125rem;
}

.scroll-bar {
    position: relative;
    height: .1875rem;
    width: 100%;
    background-color: var(--color-text);
    border-radius: .625rem;
    margin: 0 1.25rem;
}

.volume-box i {
    padding-right: .5rem;
    font-size: .75rem;
}

.scroll-volume {
    position: relative;
    height: .1875rem;
    width: 10%;
    background-color: var(--color-text);
    border-radius: .625rem;
    max-width: 100px;
    width: 100%;
}

